<div class="sidebar">



<!-- Rotating card -->
<div *ngFor="let cv of cvBilgi" class="card-wrapper">
    <div id="card-1" class="card card-rotating text-center">
      <!-- Front Side -->
      <div class="face front">
        <div class="card-up" >
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo7.jpg" alt="Image with a photo of clouds.">
          </div>
          
    
  
        <!-- Image-->
    
  
        <!-- Avatar -->
        <div class="avatar mx-auto white"><img src="{{cv.cvresim}}" class="rounded-circle"
            alt="Sample avatar image.">
        </div>

  
        <!-- Content -->
        <div  class="card-body">
          <h4 class="font-weight-bold mb-3">{{cv.cvisim}}</h4>
          <p class="font-weight-bold blue-text">Web developer</p>

          
        </div>
      </div>
      <!-- Front Side -->
  
      <!-- Back Side -->
      <div class="face back">
        <div class="card-body">
  
          <!-- Content -->
          <h4 class="font-weight-bold mb-0">About me</h4>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat tenetur odio suscipit non commodi vel
            eius veniam maxime?
            
            <!-- Social Icons -->
            
            <!-- Triggering button -->
            
        </div>
      </div>
      <!-- Back Side -->
  
    </div>
  </div>
  <!-- Rotating card -->

</div>